/* Global Styles */
body{
    background-color: #222; /* Dark background color */
    color: #fff; /* Set text color to white */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 30px;
   
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    border-bottom: 1px solid white;
}

.navbar .logo img {
    height: 50px;
}

.topics-content-wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.topics-container{
    flex-wrap: wrap;
    align-content: start; /*this styles the multi-axis because were using flex wrap*/
    justify-content: center;
    display: flex;
    width: 100vw;
    gap: 10px;
    margin-top: 10px;
    padding: 15px;
}

.topics{
    height: 200px;
    width: 300px;
    border: 1px solid blue;
    background-color: white;
    gap: 10px;
    color: black;
    text-align: center;
}

.topics a{
    border: 1px solid red;
    height: 100%;
    padding: 15px 115px 165px 115px;
    text-decoration: none;
    color: black;
   font-weight: bold;
}
/*unsure how to fit the image in*/
img{
    height: 200px;
    width: 200px;

}